.img {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

#logo {
    max-width:250px;
    max-height:200px;
    width: auto;
    height: auto;
}

.link {
    text-align: center;
}

a {
    text-decoration: underline;
}

.alternativo {
    font-size: 14px;
    color: #696969;
}

#titulo {
    font-family: sans-serif;
    color: #696969;
    text-align: center;
    font-size: 12px;
}

.entrada {
    color: #708090;
    font-size: 14px !important;
}

.botao {
    margin-left: auto;
    margin-right: auto;
    width: 100px;
}

#botao{
    text-align: center;
    background-color: rgb(90, 30, 255);
    font-size: 15px;
}

.paragrafo {
    text-align: center;
    font-family: sans-serif;
    font-size: 14px;
}

.paragrafo2 {
    text-align: center;
    font-family: sans-serif;
    font-size: 18px;
}