// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


.img {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

img {
    max-width:250px;
    max-height:200px;
    width: auto;
    height: auto;
}

.link {
    text-align: center;
}

a {
    text-decoration: underline;
}

.login {
    font-size: 10px;
    color: #696969;
}

#titulo {
    font-family: sans-serif;
    color: #696969;
    text-align: center;
    font-size: 12px;
}

.entrada {
    color: #708090;
    font-size: 14px !important;
}

.botao {
    margin-left: auto;
    margin-right: auto;
    width: 100px;
}

#botao{
    text-align: center;
    background-color: #008B8B;
    font-size: 15px;
}

