<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Lista de Links</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div class="img">
    <img src="assets/imgs/logoNome.jpg">
  </div>

  <ion-row>
    <ion-col>
      <button ion-button full (click)="redirectInserirLink()">Inserir Novo Link</button>
    </ion-col>
    <ion-col>
      <button ion-button full (click)="exibirLinksCadastrados()">Atualizar</button>
    </ion-col>
  </ion-row>

  <ion-row nowrap>
    <ion-col>
      <ion-item lines="none" text-center>
        <ion-label color="primary"> <strong>LINK</strong> </ion-label>
      </ion-item>
      <ion-list *ngFor="let link of listaLinks">
        <ion-item-sliding lines="none" text-center>
          <ion-item text-center (click)="redirectPaginaLink(link.href)">
            {{ link.name }}
            <ion-icon name="arrow-dropleft" item-right></ion-icon>
          </ion-item>
          <ion-item-options>
            <button ion-button icon-only light (click)="redirectRenomearLink(link.name,link.href)">
              <ion-icon name="create"></ion-icon>
            </button>
            <button ion-button icon-only light (click)="deletarLink(link.href)">
              <ion-icon name="trash"></ion-icon>
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </ion-col>

    <ion-col>
      <ion-item lines="none" text-center>
        <ion-label color="primary"> <strong>GRUPO</strong> </ion-label>
      </ion-item>
      <ion-list *ngFor="let link of listaLinks">
          <ion-item text-center>
            {{ link.grupo }}
          </ion-item>
      </ion-list>
    </ion-col>

    <ion-col>
      <ion-item lines="none" text-center>
        <ion-label color="primary"> <strong>RELEVÂNCIA</strong> </ion-label>
      </ion-item>
      <ion-list *ngFor="let link of listaLinks">
          <ion-item text-center>
            {{ link.importance }}
          </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>

</ion-content>