page-inserir-link {

    .img {
        margin-left: auto;
        margin-right: auto;
        width: 200px;
    }

    img {
        max-width:250px;
        max-height:200px;
        width: auto;
        height: auto;
    }

    .botao {
        margin-left: auto;
        margin-right: auto;
        width: 100px;
    }

    #botao{
        text-align: center;
        background-color: #008B8B;
        font-size: 15px;
    }
}

