page-home {
    .card-background-page {
        ion-card {
          position: relative;
          text-align: center;
        }
      
      
    }
    img{
        height: 150px;
        width: 150px;
        border-radius: 50%;
        display: block;
        margin: 0 auto;
        padding-bottom: 5px;
        
    }  
    
}
