page-perfil {

    img{
        height: 13.2vh;
        width: auto;
        margin: auto;
        display: block;
      }

      .profile-name {
        padding-top: 20px;
        font-size: x-large !important;
        font-weight: bold !important;
        text-transform: capitalize;
      }

      .profile-picture img {
        width: 128px;
        border-radius: 100%;
      }

      .profile-picture {
        border: 1px solid rgba(0, 0, 0, 0.25);
        padding: 3px;
        border-radius: 100%;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        margin: 0 auto;
        width: 128px;
        height: 128px;
        overflow: hidden;
      }

      .profile-item {
        text-align: center;
        font-size: 28px !important;
        font-weight: bold !important;
      }

      .profile-item2 {
        text-align: center;
        font-size: 15px !important;
        font-weight: 350 !important;
        font-style: italic;
        margin-top: -10px;
      }
}
